h2{
    text-decoration:dotted;
    text-align: center;
}

nav {
  background-color:rgb(207, 228, 113);
  padding: 10px 0;
}

nav ul {
  list-style: none;        
  display: flex;           
  justify-content: center; 
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: magenta; 
}
