
table {
  width: 60%;
  margin: 40px auto; 
  border-collapse: collapse; 
  font-family: Arial, sans-serif;
}


th {
  background-color: #4CAF50; 
  color: white;
  padding: 12px;
  border: 1px solid #333;
}


td {
  padding: 10px;
  border: 1px solid #333;
  text-align: center;
}


tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
